.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cover-container {
  background-image: url("./assets/hackathena.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.navbar {
  width:97%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  padding: 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding:0;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-link {
  color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}